* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Heading{
    background-color: #B6AE9F;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_uti{
    display: inline-block;
    margin-right: 20px;
}

.fullscreen_but{
    margin-right: 15px ;
}

.hamburger{
    border-radius: 100%;
    padding: 10px;
    margin-left: 20px;
}

.name{
  font-size: xx-large;
  font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    background-color: #DEDED1;
}

.main_section{
    margin-top: 10px;
    border-radius: 2%;
    justify-self: center;
    background-color: #C5C7BC;
    width: 90vw;
    height: 87vh;
    padding: 100px;
    position: relative;
}

.auth_img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.content{
    justify-self: center ;
    display: flex;
    width: 800px;
    height: 250px;
    margin-bottom: 20px;
}

.written_cont{
    align-self: center;
    margin-left: 40px;
}

.author_name{
    font-weight: bold;
    font-size: 30px;
}

hr {
  border: none;
  height: 3px;
  background-color: black;
  margin: 20px 0;
}

.quote_box{
    font-style: italic;
    font-size: x-large;
}

.body_util{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.body_util div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4E9D7;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.arrows{
    justify-self: center;
    align-self: center;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    /* margin-left: -90px;  */
    
}


.right_arrow{
    
    justify-self: end;
}

.angled_arrow{
    opacity: 10%;
}

.angled_arrow:hover{
    cursor: pointer;
    opacity: 100%;
}

.icon{
    cursor: pointer;
}

.icon:hover{
    opacity: 60%;
}

.drop_box{
    z-index: 10;
    background-color: rgba(181, 174, 161);
    width: 150px;
    height: 300px;
    position: absolute;
    display: none;
    border-radius: 20px;
    margin-left: 10px;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgb(68, 67, 67);
    padding: 5px;
}

.option_drop{
    position: relative;
    height: 20%;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.option_drop:hover{
    border: none;
    border-radius: 10px;
    background-color: rgb(173, 163, 145);

}

.down_box{
    border: none;
}

.isactive{
    border-radius: 100%;
    padding: 10px;
    background-color: rgb(200, 190, 173)
}

.exitButt{
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
}
.exitButt:hover {
    background-color: #B6AE9F;
    transform: scale(0.8);
}

.active {
    display: flex;
}